<mat-table-ext 
    [dataSource]="list"
    [columns]="columns"
    [inlineRowEditing]="true"
    [inlineEditingTemplateRef]="inlineEditing">
</mat-table-ext>

<ng-template #inlineEditing let-row="data.row" let-column="data.column" let-updateData="data.updateFunc">
  <mat-form-field *ngIf="column.type == 'number'" appearance="outline" class="inline-editing-field">
    <input matInput type="number" [(ngModel)]="row[column.field]" [ngModelOptions]="{standalone: true}"
      (ngModelChange)="updateData(row)">
  </mat-form-field>
  <mat-form-field *ngIf="column.type == 'string'" appearance="outline" class="inline-editing-field">
    <input matInput type="text" [(ngModel)]="row[column.field]" [ngModelOptions]="{standalone: true}"
      (ngModelChange)="updateData(row)">
  </mat-form-field>
  <mat-form-field *ngIf="column.type == 'date'" appearance="outline" class="inline-editing-field">
    <input matInput type="date" [(ngModel)]="row[column.field]" [ngModelOptions]="{standalone: true}"
      (ngModelChange)="updateData(row)">
  </mat-form-field>
  <mat-form-field *ngIf="column.type == 'selection'" appearance="outline" class="inline-editing-field">
    <mat-select [value]="row[column.field]" [(ngModel)]="row[column.field]" (ngModelChange)="updateData(row)"
      [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let option of column.options" [value]="option">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox (click)="$event.stopPropagation()" (ngModelChange)="updateData(row)" *ngIf="column.type == 'boolean'"
    color="primary" [(ngModel)]="row[column.field]"></mat-checkbox>
</ng-template>