<div class="pinning-list-item" *ngFor="let column of columns" style="display: flex; ">
    <button mat-icon-button  aria-label="Example icon button with a menu icon">
        <mat-icon (click)="changeValue(column)" [matTooltip]="column['pinned'] ? (column['pinned']).toUpperCase():'NONE'"
            svgIcon="{{column['pinned'] =='left'|| column['pinned'] =='right' ? icons[column['pinned']]:'pinNone'}}" class="pinning-icon"></mat-icon>
    </button>
    <span>{{column.header}}</span>
    <hr>
</div>