
    <mat-card class="result">
        <h2 class="example-h2">Table</h2>
        <mat-card-content style="display: flex; gap: 50px;">
<div style="display: flex;flex-direction: column;">
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="popupRowEditing" [disabled]="false">
            Popup Editing
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="inlineRowEditing" [disabled]="false">
            Inline Editing
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="inCellEditing" [disabled]="false">
            Cell Editing
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="deleteRow" [disabled]="false">
            Delete Row
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="stripedRows" [disabled]="false">
            Striped Rows
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="multiRowSelection" [disabled]="false">
           Multi Row Selection
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="columnResizable" [disabled]="false">
            Column Resizable
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="stickyHeader" [disabled]="false">
            Sticky Header
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="stickyFooter" [disabled]="false">
            Sticky Footer
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="simpleFilter" [disabled]="false">
            Columns Filter
        </mat-slide-toggle>
    </section>
</div>
<div style="display: flex;flex-direction: column;">
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="toolbarToggle" [disabled]="false">
            Table Toolbar
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="columnPinnable" [disabled]="false">
            Column Pinnable
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="columnHideable" [disabled]="false">
            Column Hideable
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="topSearchFilter" [disabled]="false">
            Global Search
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="isExpandEnable" [disabled]="false">
            Row Expandable
        </mat-slide-toggle>
    </section>

    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="dragEnable" [disabled]="false">
            Drag & Drop Columns
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="sorting" [disabled]="false">
            Sorting
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="isLoading" [disabled]="false">
            Loading Indicator
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="showFirstLastButtons" [disabled]="false">
            Show First Last Page Buttons
        </mat-slide-toggle>
    </section>
    <section class="example-section">
        <mat-slide-toggle [(ngModel)]="paginationEnable" [disabled]="false">
            Pagination
        </mat-slide-toggle>
    </section>
</div>
<div style="display: flex;flex-direction: column;">
        <section class="example-section">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Table Height</mat-label>
                <input matInput placeholder="Default is 500px" [(ngModel)]="tableHeight" [disabled]="false">
            </mat-form-field>
        </section>
        <mat-divider></mat-divider>
        <section class="example-section">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Table Width</mat-label>
                <input matInput placeholder="Default is 100%" [(ngModel)]="tableWidth" [disabled]="false">
            </mat-form-field>
        </section>
        <mat-divider></mat-divider>
</div>
            
    
    
        </mat-card-content>
    </mat-card>
    
    <mat-table-ext
    style="margin: 15px;"
    [dataSource]="dataSource"
    [columns]="columns"
    [columnResizable]="columnResizable"
    [inlineRowEditing]="inlineRowEditing"
    [inCellEditing]="inCellEditing"
    [popupRowEditing]="popupRowEditing"
    [enableDelete]="deleteRow"
    [rowSelection]="rowSelection"
    [multiRowSelection]="multiRowSelection"
    [stickyHeader]="stickyHeader"
    [stickyFooter]="stickyFooter"
    [columnFilter]="simpleFilter"
    [showToolbar]="toolbarToggle"
    [globalSearch]="topSearchFilter"
    [expandRows]="isExpandEnable"
    [dndColumns]="dragEnable"
    [paginatorEnable]="paginationEnable"
    [pageSizeOptions]="[10, 25, 100]"
    [showFirstLastButtons]="showFirstLastButtons"
    [columnPinnable]="columnPinnable"
    [columnHideable]="columnHideable"
    [stripedRows]="stripedRows"
    [loadingIndicator]="isLoading"
    [sorting]="sorting"
    [tableHeight]="tableHeight"
    [tableWidth]="tableWidth"
    (inlineChange)="showData($event,'inline change')"
    (popupChange)="showData($event,'popup change')"
    (cellChange)="showData($event,'Cell change')"
    (scroll)="onScroll($event)"
    (selectionChanged)="onSelectionChange($event)"
    (rowDeleted)="showData($event,'Delete change')"
    
    ></mat-table-ext>