<mat-card class="result">
    <mat-card-content>
        <h2 class="example-h2">Result</h2>
        <section class="example-section">
            <mat-slide-toggle (change)="showhidecolumn('inlineRowEditing')" [disabled]="false" >
                Edit row on modal
            </mat-slide-toggle>
        </section>

       <section class="example-section">
            <mat-slide-toggle (change)="showhidecolumn('popupRowEditing')" [disabled]="false">
                In line Edit row
            </mat-slide-toggle>
        </section>

         <section class="example-section">
            <mat-slide-toggle (change)="showhidecolumn('enableDelete')" [disabled]="false">
                Delete Row
            </mat-slide-toggle>
        </section>
        <section class="example-section">
            <mat-slide-toggle (change)="showhidecolumn('select')" [disabled]="false">
                multi select
            </mat-slide-toggle>
        </section>

        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="stickyColumn" [disabled]="false">
                Sticky Column
            </mat-slide-toggle>
        </section>
        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="columnResizable" [disabled]="false">
                Column Resizable Property
            </mat-slide-toggle>
        </section>

        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="stickyHeader" [disabled]="false">
                Sticky Header
            </mat-slide-toggle>
        </section>

        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="stickyFooter" [disabled]="false">
                Sticky Footer
            </mat-slide-toggle>
        </section>



        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="simpleFilter" [disabled]="false">
                Columns Filter
            </mat-slide-toggle>
        </section>

        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="selectionFilter" [disabled]="false">
                Columns Select Filter
            </mat-slide-toggle>
        </section>




        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="columnFilterBySelection" [disabled]="false">
                {{columnFilterBySelection ? 'Toolbar enabled':'Toolbar Disabled'}}
            </mat-slide-toggle>
        </section>

        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="topSearchFilter" [disabled]="false">
                Search
            </mat-slide-toggle>
        </section>
        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="isExpandEnable" [disabled]="false">
                is Expand Enable
            </mat-slide-toggle>
        </section>

        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="dragEnable" [disabled]="false">
                is Dear & Drop Enable
            </mat-slide-toggle>
        </section>

        <section class="example-section">
            <mat-slide-toggle [(ngModel)]="paginationEnable" [disabled]="false">
                Pagination
            </mat-slide-toggle>
        </section>


    </mat-card-content>
</mat-card>
<div >
    <mat-table-ext
    [dataSource]="dataSource"
    [columns]="columns"
    [columnResizable]="columnResizable"
    [inlineRowEditing]="inlineRowEditing"
    [popupRowEditing]="popupRowEditing"
    [enableDelete]="deleteRow"
    [rowSelection]="rowSelection"
    [multiRowSelection]="multiRowSelection"
    [stickyHeader]="stickyHeader"
    [stickyFooter]="stickyFooter"
    [filter]="simpleFilter"
    [selectionFilter]="selectionFilter"
    [showToolbar]="columnFilterBySelection"
    [globalSearch]="topSearchFilter"
    [expandRows]="isExpandEnable"
    [dndColumns]="dragEnable"
    [paginatorEnable]="paginationEnable"
    [showToolbar]="true"
    [columnResizable]="false"
    [columnPinnable]="true"
    [columnHideable]="true"
    
    ></mat-table-ext>

</div>