@use '@angular/material' as mat;

/* Include Material core styles once per project. */
@include mat.core();

/* Define a light theme using Material 3 tokens. */
$light-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$blue-palette,
            ),
        ));

/* Apply the theme to all Material components. */
@include mat.all-component-themes($light-theme);

/* Global reset styles */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.docs-button {
    >span.mdc-button__label {
        display: flex !important;
        align-items: center;
        gap: 5px;
    }
}


.main-sidenav-bg {

    @include mat.sidenav-overrides((
        container-background-color:white,
        content-background-color:white,
        ));

}