@use '@angular/material' as mat;
@import 'highlight.js/styles/github.css';
@import './styles/_code-theme.scss';

/* Include Material core styles once per project. */
@include mat.core();

/* Define a light theme using Material 3 tokens. */
$light-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$blue-palette,
            ),
        ));

/* Apply the theme to all Material components. */
@include mat.all-component-themes($light-theme);

/* Global reset styles */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.docs-button {
    >span.mdc-button__label {
        display: flex !important;
        align-items: center;
        gap: 5px;
    }
}


.main-sidenav-bg {

    @include mat.sidenav-overrides((container-background-color:white,
            content-background-color:white,
        ));

}

.docs-api {
    h5 {
        font-size: 16px !important;
    }

    h6 {
        margin-top: 10px;
        font-size: 14px !important;
    }

    table.api-table {
        width: 100%;
        border-collapse: collapse;
        padding: 10px 0;
    }

    tr {
        border-bottom: 1px solid #c4c6d0;
        height: 56px;
    }
    thead{
        tr{
            th{
                font-weight: 500;
            }
        }
    }
}